*{
    margin: 0px;
    padding: 0px;
}

body{
font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: darkmagenta;
  font-size: large;


}

.titlebar{
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 10px;
    
}

.container{
display: flex;

flex-wrap: wrap;
justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 20px; 

   padding: 20px 40px; 
  margin: 0 auto; 
  max-width: 1300px; 
}






.container img:hover {
  transform: scale(1.05);
}


 .container img {
  width: 180px;              
  height: 270px;            
  object-fit: cover;       
  background-color: white;   
  border: 3px solid white;
  border-radius: 10px;
  transition: transform 0.3s ease;
  box-sizing: border-box;
  flex-grow: 1;
 
}

.container h2 {
  
  margin-top: 8px;        
  font-size: 14px;
  color: white;            
  font-weight: 900;
  letter-spacing: 0.5px;
   margin-bottom: 20px;
}


 
 


 